@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-limelight: "Limelight", sans serif;
  --font-audioWide: "Audiowide", sans serif;
  --font-montserrat: "Montserrat", sans serif;
}

html {
  scroll-behavior: smooth;
}

.text-shadow-title {
  text-shadow: 2px 5px 0px rgb(99 102 241 / 1)
}

.fontsize-heading {
  font-size: clamp(1.5rem, 3vw, 3rem)
}

.clip-path-bottomslant {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.clip-path-topslant {
  clip-path: polygon(0 10%, 101% 0, 100% 101%, 0 100%);
}

.border-bottomgrad {
  background: linear-gradient(356deg , #9529f4 15%, transparent 50%);
}

.border-topgrad {
  background: linear-gradient(180deg , #9529f4 15%, transparent 50%);
}